.final-switcher {
  /* width: 750px;
  max-width: 750px; */
  width: 90vw;
  @media (min-width: 1025px) {
    width: 27vw;

    &:first-child {
      margin: 0 10px 40px 0;
    }

    &:last-child {
      margin: 0 0 40px 10px;
    }
  }

  &-head {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
  }

  &-body {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;

    @media (min-width: 768px) {
      justify-content: flex-start;
    }

    &-pickable {
      display: flex;
      flex-direction: column;
      align-items: center;
      box-sizing: border-box;
      width: 65%;

      @media (min-width: 1025px) {
        width: 18vw;
      }

      &-head {
        display: flex;
        flex-direction: row;
        align-items: center;
        width: 100%;

        &-left {
          height: 70px;
          min-height: 70px;
          min-width: calc(50% - 35px);
          width: calc(50% - 35px);
          display: flex;
          flex-direction: row;
          align-items: flex-end;
          justify-content: flex-end;
          /* 
          @media (min-width: 768px) {
            width: 215px;
            max-width: 215px;
          } */

          &-vertical {
            width: 1px;
            min-width: 1px;
            max-width: 1px;
            height: 40px;
            max-height: 40px;

            &-active {
              width: 1px;
              min-width: 1px;
              max-width: 1px;
              height: 90px;
              max-height: 90px;
              background-color: $yellow;

              @media (min-width: 768px) {
                height: 40px;
                max-height: 40px;
              }
            }
          }

          &-horizontal {
            height: 1px;
            min-height: 1px;
            max-height: 1px;
            width: 50%;
            min-width: 50%;

            &-active {
              height: 1px;
              min-height: 1px;
              max-height: 1px;
              width: 50%;
              min-width: 50%;
              background-color: $yellow;
            }
          }
        }

        &-central {
          margin-top: 65px;
          height: 70px;
          max-height: 70px;
          width: 70px;
          max-width: 70px;
          border-radius: 70px;
          background-color: $yellow;
          display: flex;
          align-items: center;
          justify-content: center;
          cursor: pointer;

          &-arrows {
            height: 40px;
            max-height: 40px;
            width: 40px;
            max-width: 40px;
            background-image: url("../../assets/images/arrows.svg");
            background-repeat: no-repeat;
          }
        }

        &-right {
          min-width: calc(50% - 35px);
          width: calc(50% - 35px);
          height: 70px;
          min-height: 70px;
          display: flex;
          flex-direction: row;
          align-items: flex-end;
          justify-content: flex-start;

          &-vertical {
            width: 1px;
            max-width: 1px;
            min-width: 1px;
            height: 40px;
            max-height: 40px;

            &-active {
              width: 1px;
              min-width: 1px;
              max-width: 1px;
              height: 90px;
              max-height: 90px;
              background-color: $yellow;
              @media (min-width: 768px) {
                height: 40px;
                max-height: 40px;
              }
            }
          }

          &-horizontal {
            height: 1px;
            min-height: 1px;
            max-height: 1px;
            width: 50%;
            min-width: 50%;
            /* width: 70px;
            max-width: 70px;
            @media (min-width: 768px) {
              width: 90px;
              max-width: 90px;
            } */

            &-active {
              height: 1px;
              min-height: 1px;
              max-height: 1px;
              width: 50%;
              min-width: 50%;
              /* width: 25px;
              max-width: 25px; */
              background-color: $yellow;
              /* @media (min-width: 768px) {
                width: 90px;
                max-width: 90px;
              } */
            }
          }
        }
      }

      &-middle {
        display: flex;
        align-items: center;
        justify-content: center;

        &-vertical {
          width: 1px;
          max-width: 1px;
          min-width: 1px;
          height: 70px;
          max-height: 70px;
          background-color: $yellow;
          margin-left: 90px;
          margin-right: 90px;

          @media (min-width: 768px) {
            margin-left: 180px;
            margin-right: 180px;
          }
        }
      }

      &-footer {
        &-card {
          margin-top: 25px;

          &-image {
            display: flex;
            align-items: center;
            justify-content: center;

            & > img {
              min-width: 100px;
              max-width: 100px;
              min-height: 100px;
              max-height: 100px;

              @media (min-width: 768px) {
                min-width: 150px;
                max-width: 150px;
                min-height: 150px;
                max-height: 150px;
              }
            }
          }

          &-title {
            text-align: center;
            text-transform: uppercase;
            font-size: 20px;
          }

          &-shadow {
            display: flex;
            align-items: center;
            justify-content: center;
            margin: 20px 0;

            &-image {
              width: 70px;
              max-width: 70px;
              min-width: 70px;
              height: 30px;
              background: url("../../assets/images/shadow.png");
              background-position: center;
              background-repeat: no-repeat;
              background-size: contain;
              @media (min-width: 768px) {
                width: 220px;
                max-width: 220px;
                min-width: 220px;
                background-size: cover;
              }
            }
          }
        }
      }
    }

    &-fixed {
      height: 100%;
      min-height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      box-sizing: border-box;
      position: relative;
      width: 35%;

      @media (min-width: 1025px) {
        width: 9vw;
      }

      &-vertical {
        width: 1px;
        min-width: 1px;
        max-width: 1px;
        position: relative;
        bottom: -30px;
        min-height: 420px;
        margin-top: 35px;
        background-color: $yellow;
        margin: 0 auto;
        /* margin-left: 40px;
        margin-right: 40px; */

        /*         @media (min-width: 768px) {
          margin-left: 125px;
          margin-right: 180px;
        } */
      }
    }
  }

  &-footer {
    width: 100%;
    &-top {
      display: flex;
      flex-direction: row;
      width: 100%;
      height: 100%;

      &-left {
        /* width: 50%;
        max-width: 50%;
        min-width: 50%; */
        display: flex;
        flex-direction: row;
        align-items: flex-end;
        justify-content: center;
        width: 65%;

        @media (min-width: 1025px) {
          width: 18vw;
        }

        &-vertical {
          width: 1px;
          min-width: 1px;
          max-width: 1px;
          height: 70px;
          background-color: $yellow;
          margin: 0 0 0 auto;
          /* margin-left: 335px;
          @media (min-width: 768px) {
            margin-left: 250px;
          } */
        }

        &-horizontal {
          height: 1px;
          min-height: 1px;
          max-height: 1px;
          /* width: 75px;
          max-width: 75px; */
          width: 50%;
          background-color: $yellow;

          /* @media (min-width: 768px) {
            width: 180px;
            max-width: 180px;
          } */
        }
      }

      &-right {
        /* width: 50%;
        max-width: 50%;
        min-width: 50%; */
        display: flex;
        flex-direction: row;
        align-items: flex-end;
        justify-content: center;
        width: 35%;

        @media (min-width: 1025px) {
          width: 9vw;
        }

        &-vertical {
          width: 1px;
          min-width: 1px;
          max-width: 1px;
          height: 70px;
          background-color: $yellow;
          margin: 0 auto 0 0;
          /* margin-right: 264px;
          @media (min-width: 768px) {
            margin-right: 124px;
          } */
        }

        &-horizontal {
          height: 1px;
          min-height: 1px;
          max-height: 1px;
          width: 50%;
          /* width: 130px;
          max-width: 130px; */
          background-color: $yellow;
          /* @media (min-width: 768px) {
            width: 250px;
            max-width: 250px;
          } */
        }
      }
    }

    &-bottom {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      height: 70px;

      &-vertical {
        width: 1px;
        min-width: 1px;
        max-width: 1px;
        height: 70px;
        background-color: $yellow;
      }
    }
  }

  &-card {
    margin: 0 5px;
    width: 50%;
    box-sizing: border-box;
    max-width: 50%;
    @media (min-width: 770px) {
      margin: 0 10px;
    }

    &-image {
      display: flex;
      align-items: center;
      justify-content: center;

      &-gray {
        filter: grayscale(100%);
      }

      & > img {
        -webkit-user-select: none; /* Safari */
        -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* IE10+/Edge */
        user-select: none; /* Standard */
        /* min-width: 80px;
        max-width: 80px;
        min-height: 80px;
        max-height: 80px; */
        width: 8vw;
        height: 8vw;

        @media (min-width: 768px) {
          /*           width: 100%;
          max-width: 150px;
          min-height: 150px;
          max-height: 150px; */
          width: 8vw;
          height: 8vw;
        }
      }
    }

    &-title {
      text-align: center;
      text-transform: uppercase;
      font-size: 20px;
      color: grey;

      &-active {
        text-align: center;
        text-transform: uppercase;
        font-size: 20px;
        color: white;
      }
    }

    &-shadow {
      /* width: 100px;
      max-width: 100px;
      min-width: 100px; */
      width: 100%;
      min-width: 100%;
      height: 30px;
      margin: 10px 0;

      @media (min-width: 768px) {
        /* width: 220px;
        max-width: 220px;
        min-width: 220px; */
        width: 100%;
        min-width: 100%;
      }

      &-active {
        /* width: 100px;
        max-width: 100px;
        min-width: 100px; */
        min-width: 100%;
        height: 30px;
        margin: 10px 0;
        background: url("../../assets/images/shadow.png");
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;

        @media (min-width: 768px) {
          /* width: 220px;
          max-width: 220px;
          min-width: 220px; */
          min-width: 100%;
        }
      }
    }
  }
}
