.switcher {
  margin: 0 0 70px 0;
  width: 90vw;

  @media (min-width: 768px) {
    margin: 0 0 40px 0;
    box-sizing: border-box;
  }

  @media (min-width: 1025px) {
    width: 18vw;

    &:first-child {
      margin: 0 10px 40px 0;
    }

    &:last-child {
      margin: 0 0 40px 10px;
    }
  }

  &-head {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
  }

  &-body {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;

    &-left {
      height: 70px;
      min-height: 70px;
      //width: 145px;
      //max-width: 145px;
      min-width: calc(50% - 35px);
      width: calc(50% - 35px);
      display: flex;
      flex-direction: row;
      align-items: flex-end;
      justify-content: flex-end;
      /* 
      @media (min-width: 768px) {
        min-width: calc(50%-35px);
        width: calc(50%-35px);
        //width: 215px;
        //max-width: 215px;
      } */

      &-vertical {
        width: 1px;
        max-width: 1px;
        min-width: 1px;
        height: 40px;
        max-height: 40px;

        &-active {
          width: 1px;
          max-width: 1px;
          min-width: 1px;
          height: 40px;
          max-height: 40px;
          background-color: $yellow;
        }
      }

      &-horizontal {
        height: 1px;
        max-height: 1px;
        width: 50%;
        min-width: 50%;
        /* width: 70px;
        max-width: 70px; */
        /* @media (min-width: 768px) {
          width: 90px;
          max-width: 90px;
        } */

        &-active {
          height: 1px;
          max-height: 1px;
          min-height: 1px;
          /* width: 70px;
          max-width: 70px; */
          width: 50%;
          min-width: 50%;
          background-color: $yellow;
          /* @media (min-width: 768px) {
            width: 90px;
            max-width: 90px;
          } */
        }
      }
    }

    &-central {
      margin-top: 65px;
      height: 70px;
      max-height: 70px;
      width: 70px;
      max-width: 70px;
      border-radius: 70px;
      background-color: $yellow;
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;

      &-arrows {
        height: 40px;
        max-height: 40px;
        width: 40px;
        max-width: 40px;
        background-image: url("../../assets/images/arrows.svg");
        background-repeat: no-repeat;
      }
    }

    &-right {
      /*       //width: 145px;
      //max-width: 145px;
      min-width: calc(50%-35px);
      width: calc(50%-35px); */
      width: calc(50% - 35px);
      min-width: calc(50% - 35px);
      height: 70px;
      min-height: 70px;
      display: flex;
      flex-direction: row;
      align-items: flex-end;
      justify-content: flex-start;

      /*       @media (min-width: 768px) {
        //width: 215px;
        //max-width: 215px;
        width: calc(50% - 35px);
      } */

      &-vertical {
        width: 1px;
        max-width: 1px;
        min-width: 1px;
        height: 40px;
        max-height: 40px;

        &-active {
          width: 1px;
          min-width: 1px;
          max-width: 1px;
          height: 40px;
          max-height: 40px;
          background-color: $yellow;
        }
      }

      &-horizontal {
        height: 1px;
        max-height: 1px;
        min-height: 1px;
        width: 50%;
        min-width: 50%;
        /*         width: 70px;
        max-width: 70px;
        @media (min-width: 768px) {
          width: 90px;
          max-width: 90px;
        } */

        &-active {
          height: 1px;
          max-height: 1px;
          min-height: 1px;
          width: 50%;
          min-width: 50%;
          background-color: $yellow;
          /* width: 70px;
          max-width: 70px;
          background-color: $yellow;
          @media (min-width: 768px) {
            width: 90px;
            max-width: 90px;
          } */
        }
      }
    }

    &-footer {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;

      &-vertical {
        width: 1px;
        max-width: 1px;
        min-width: 1px;
        height: 70px;
        max-height: 70px;
        background-color: $yellow;
        margin-left: 180px;
        margin-right: 180px;
      }
    }
  }

  &-footer {
    @media (min-width: 768px) {
      padding-bottom: 140px;
    }

    &-card {
      margin-top: 25px;

      &-image {
        display: flex;
        align-items: center;
        justify-content: center;

        & > img {
          min-width: 100px;
          max-width: 100px;
          min-height: 100px;
          max-height: 100px;

          @media (min-width: 768px) {
            min-width: 150px;
            max-width: 150px;
            min-height: 150px;
            max-height: 150px;
          }
        }
      }

      &-title {
        text-align: center;
        text-transform: uppercase;
        font-size: 20px;
      }

      &-shadow {
        display: flex;
        align-items: center;
        justify-content: center;

        margin: 20px 0;

        &-image {
          width: 150px;
          max-width: 150px;
          min-width: 150px;
          height: 30px;
          background: url("../../assets/images/shadow.png");
          background-position: center;
          background-repeat: no-repeat;
          background-size: contain;
          @media (min-width: 768px) {
            width: 220px;
            max-width: 220px;
            min-width: 220px;
            background-size: cover;
          }
        }
      }
    }
  }

  &-card {
    margin: 0 15px;
    box-sizing: border-box;
    width: 50%;
    max-width: 50%;
    @media (min-width: 770px) {
      margin: 0 10px;
    }

    &-image {
      display: flex;
      align-items: center;
      justify-content: center;

      &-gray {
        filter: grayscale(100%);
      }

      & > img {
        width: 8vw;
        height: 8vw;
        /* min-width: 100px;
        max-width: 100px;

        min-height: 100px;
        max-height: 100px; */

        @media (min-width: 768px) {
          /*           width: 100%;
          max-width: 150px;
          min-height: 150px;
          max-height: 150px; */
          width: 8vw;
          height: 8vw;
        }
      }
    }

    &-title {
      text-align: center;
      text-transform: uppercase;
      font-size: 20px;
      color: grey;

      &-active {
        text-align: center;
        text-transform: uppercase;
        font-size: 20px;
        color: white;
      }
    }

    &-shadow {
      /* width: 150px;
      max-width: 150px;
      min-width: 150px; */
      width: 100%;
      min-width: 100%;
      height: 30px;
      margin: 10px 0;

      @media (min-width: 768px) {
        width: 100%;
        min-width: 100%;
        /* width: 220px;
        max-width: 220px;
        min-width: 220px; */
      }

      &-active {
        //width: 150px;
        //max-width: 150px;
        //min-width: 150px;
        min-width: 100%;
        height: 30px;
        margin: 10px 0;
        background: url("../../assets/images/shadow.png");
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;

        @media (min-width: 768px) {
          //width: 220px;
          //max-width: 220px;
          //min-width: 220px;
          min-width: 100%;
        }
      }
    }
  }
}

.clickable {
  cursor: pointer;
}

.not-allowed {
  cursor: not-allowed;
}
